
<section class="sectionRegister">
<h1>login</h1>

<form action="/login" method="post" class="formRegister">

  <label for="">E-mail</label>
  <input type="text" name="email" id="email" placeholder="Digite seu E-mail">

  <label for="password">Senha:</label>
  <input type="password" name="password" id="password" placeholder="Digite sua senha">

  <input type="submit" value="Login">
  </form>
  <p>Não tem uma conta?<a href="/register">Clique aqui para se cadastrar</a></p>
  </section>
